<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<script src="timer.js"></script>
<script src="lessons.js"></script>
<script src="jquery-2.0.0.min.js"></script>
<script src="jquery.jqote2.min.js"></script>
<script>
    var current_lesson = null;
    var typed_content = "";
    var finished_lesson = "";
    var remaining_lesson_content = "";
    var timer = new Timer();

    $(function() {
        for (var i = 0; i < lessons.length; i++) {
            lessons[i].best = "0";
        }

        update_lesson_list();
        timer.update(function(total_seconds) {
            var minutes = Math.floor(total_seconds/60);
            var seconds = total_seconds % 60;
            var time_str = ("00" + minutes).slice(-2) + ":" + ("00" + seconds).slice(-2);
            $("#clock").html(time_str);

            var word_count = finished_lesson.replace(/ /g, "").length/5;

            if (total_seconds) {
                var true_minutes = total_seconds/60; 
                var wpm = (word_count/true_minutes).toFixed(2);
                $("#current-wpm").html(wpm + " wpm");
            } else {
                $("#current-wpm").html("0 wpm");
            }
            if (word_count <= 1 && word_count > 0) {
                $("#word-count").html(word_count.toFixed(1) + " word");
            } else {
                $("#word-count").html(word_count.toFixed(1) + " words");
            }
        });
        $(".kb-nav").click(function(event) {
            var $selection = $(event.currentTarget);
            var keyboard_to_load = $selection.html();
            var img_src = "";

            $(".selected").removeClass("selected");
            $selection.addClass("selected");

            switch (keyboard_to_load) {
                case "DVO":
                    img_src = "dvorak.png";
                    break;
                case "L":
                    img_src = "dvorak-left.png";
                    break;
                case "R":
                    img_src = "dvorak-right.png";
                    break;
            }
            if (img_src) {
                $("#keyboard img").attr("src", img_src);
                $("#keyboard").show();
            } else {
                $("#keyboard").hide();
            }
        });
        $("#timothy").keyup(function(event) {
            var $timothy = $(event.currentTarget);
            var just_typed = $timothy.val().replace(typed_content, "");

            if (!remaining_lesson_content || typed_content == $timothy.val()) {
                return;
            }

            // backspace
            if (event.keyCode == 8) {
                typed_content = $timothy.val();
                return;
            }

            timer.start();
            typed_content = $timothy.val();
            $("#error-box").hide();

            for (var i = 0; i < just_typed.length; i++) {
                var typed_char = just_typed.charAt(i);
                if (typed_char == remaining_lesson_content.charAt(0)) {
                    remaining_lesson_content = remaining_lesson_content.substring(1);
                    var split_index = current_lesson.content.lastIndexOf(remaining_lesson_content);
                    finished_lesson= current_lesson.content.substring(0,split_index);
                    $("#cathy").html("<span class=\"completed\">" + finished_lesson + "</span>" + remaining_lesson_content);
                } else if (i + 1 == just_typed.length) {
                    var missed_char = remaining_lesson_content.charAt(0);
                    if (missed_char == " ") {
                        $("#missing-char").html("[space bar]");
                    } else {
                        $("#missing-char").html(missed_char);
                    }
                    $("#error-box").show();
                }
                if (!remaining_lesson_content) {
                    finish_lesson();
                }
            }
        });
        $("#container").css("min-height", $(window).height());
        $(window).resize(function() {
            $("#container").css("min-height", $(window).height());
        });
    });

    function load_lesson(lesson_index, event) {
        $(".selected-lesson").removeClass("selected-lesson");
        $(event.currentTarget).addClass("selected-lesson");
        current_lesson = lessons[lesson_index];
        typed_content = "";
        finished_lesson = "";
        remaining_lesson_content = current_lesson.content;
        timer.reset();
        $("#cathy").html(current_lesson.content);
        $("#timothy").focus().val("");
    }

    function finish_lesson() {
        var time_elapsed = timer.stop();
        var minutes = time_elapsed/60;
        var word_count = current_lesson.content.replace(/ /g, "").length/5;
        var wpm = (word_count/minutes).toFixed(2);
        current_lesson.best = Math.max(wpm, current_lesson.best);
        $("#current-wpm").html(wpm + " wpm");
        $("#word-count").html(word_count.toFixed(1) + " words");
        update_lesson_list()
    }

    function update_lesson_list() {
        $("#lesson-list").html(
            $("#lesson-list-template").jqote(lessons)
        );
    }
</script>
<style>
    @import url(style.css);
</style>
</head>
<body>
<div id="container">
    <div id="typing" class="column">
        <div id="error"><div id="error-box">Oh, noes! Type "<span id="missing-char"></span>"!</div></div>
        <input id="timothy" type-"text" />
        <div id="cathy"></div>
    </div>
    <div id="info" class="column">
        <ul id="kb-nav-container">
            <li><span class="kb-nav">DVO</span></li>
            <li><span class="kb-nav selected">L</span></li>
            <li><span class="kb-nav">R</span></li>
            <li><span class="kb-nav">HIDE</span></li>
        </ul>
        <div id="keyboard">
            <img src="dvorak-left.png"/>
        </div>
        <div id="current-stats">
            <div id="clock">00:00</div>
            <div id="current-wpm">0 wpm</div>
            <div id="word-count">0 words</div>
        </div>
        <ul id="lesson-list"></ul>
    </div>
</div>
<script id="lesson-list-template" type="text/x-jqote-template">
    <li onclick="load_lesson(<%= lessons.indexOf(this) %>, event)"><%= this.label %> (best: <%= this.best %> wpm)</li>
</script>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-40688348-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>
